<!--<div id="headerwrap">-->
{% include carousel.html %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <h1>The official technical club.</h1>
                <h3>&nbsp;we learn, we teach </h3>				
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
<!-- </div> --><!-- /headerwrap -->
